body {
    background-color:  #181818;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
}

.navs-div {
    display: flex;
    justify-items: space-between;
    margin-top: 1.5%;
    margin-right: 90px;
}

.navs-div a {
    margin-left: 50px;
}

.figma-div {
    margin-top: 0.5%;
}

.navs {
    text-decoration: none;
    color: #FFFFFF;
}

.login {
    border: 1px solid #FFFFFF;
    background-color: #181818;
    color: #FFFFFF;
    padding: 7px 25px;
}

.login-div {
    margin-top: 1%;
}

.headline {
    font-weight: 500;
    font-size: 80px;
    line-height: 88px;
    text-align: center;
}

.banner {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0E0E0E 66.15%);
}

.banner-p {
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.banner-btn {
    margin-left: 40%;
    justify-content: center;
}

.try-for-free-btn {
    border: none;
    background-color: #4452FE;
    color: #FFFFFF;
    width: 178px;
    height: 60px;
}

.learn-more-btn {
    border: 1px solid #FFFFFF;
    background-color: #181818;
    color: #FFFFFF;
    width: 178px;
    height: 60px;
    margin-left: 3%;
}

.banner-img-div  {
    align-self: center;
    margin-top: 2.5%;
}

.banner-img {
    width: 1820px;
    height: auto;
}

.features {
    font-size: 52px;
    font-weight: lighter;
    line-height: 88px;
    text-align: center;
    margin-top: 10%;
}

.features-p {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}

.features-style {
    display: flex;
    justify-content: center;
    position: relative;
}

.features-txt {
    flex-direction: column;
    margin-left: 10%;
}

.features-txt p {
    font-size: 16px;
    /* line-height: 24px; */
    font-weight: normal;
}

.features-txt h3 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}

.truth::before {
    content: url(../Vector\ 1.png);
    padding-right: 30px;
}

.interface::before {
    content: url(../Vector\ 2.png);
    padding-right: 30px;
}

.rules::before {
    content: url(../Vector\ 3.png);
    padding-right: 30px;
}

.features-img2 {
    position: absolute;
    top: 60%
}

.content {
    text-align: center;
    font-size: 52px;
    font-weight: normal;
    margin-top: 10%;
}

.content-p {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}

.card-style {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.card-header {
    color:  #000000;
}

.cards-p {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
}

.card-1 {
    background-color: #FFFFFF;
    color: #5C5C5C;
    border: 1px solid #D3D3D3;
    border-radius: 7px;
    text-align: center;
    height: 470px;
    width: 350px;
}

.img-group {
    position: relative;
}

.screen-mask-img {
    border: 7px solid#000000 ;
    width: 250px;
    margin-top: 23%;
}

.grip-img {
    position: absolute;
    top: 246px;
    right: 150px;
}

.base-img {
    position: absolute;
    top: 250px;
    right: 27px;
    width: 300px;
}

.card-2 {
    background-color: #FFFFFF;
    color: #5C5C5C;
    border: 1px solid #D3D3D3;
    border-radius: 6px;
    text-align: center;
    margin-left: 2%;
    height: 470px;
    width: 350px;
}

.board-img {
    width: 330px;
    margin-top: 10%;
}

.content-btn-1 {
    margin-top: 1%;
    border: none;
    background-color: #4452FE;
    color: #FFFFFF;
    width: 90px;
    height: 40px;
}

.content-btn-2 {
    border: none;
    background-color: #4452FE;
    color: #FFFFFF;
    width: 90px;
    height: 40px;
}

.gallery {
    margin-top: 10%;
    text-align: center;
    font-size: 52px;
    font-weight: normal;
}

.gallery-p {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}

.first-gallery {
    display: flex;
    justify-content: center;
}

.first-gallery div{
    margin: 20px;
}

.first-gallery img {
    border-radius: 10px;
}

.second-gallery {
    display: flex;
    justify-content: center;
}

.second-gallery img {
    border-radius: 10px;
}

.second-gallery div {
    margin: 5px;
}

.see-more {
    text-decoration: none;
    background-color: #181818;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    width: 110px;
    height: 40px;
    margin: 2% auto;
    display: block;
}
.partners {
    text-align: center;
    margin-top: 12%;
}

.partners-heading {
    font-size: 52px;
    font-weight: lighter;
}

.partners-p {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}

.logos {
    justify-content: center;
    margin: 40px 0px;
}

.logo {
    margin: 0px 30px;
}

.partners-btn {
    background-color: #181818;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    width: 120px;
    height: 40px;
    margin: 10px auto;
    display: block;
}

.testimonial {
    margin-top: 10%;
    text-align: center;
    font-weight: normal;
    font-size: 52px;
    letter-spacing: 0.2px;
}

.slide1, .slide2, .slide3, .slide4 {
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    width: 430px;
    height: 328px;
}

.slide2, .slide4 {
    margin-left: 1%;
}

.profile {
    display: flex;
    margin-left: 15%;
    margin-top: 5%;
}

.profile-name {
    font-size: 16px;
    line-height: 24px;
    margin-left: 5%;
    margin-top: 8%;
}

.slide-style {
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.slide-style-2 {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.slide-p {
    line-height: 24px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 1%;
}

.profile-picture {
    height: 60px;
    margin-top: 8%;
}

.open-type-header {
    font-size: 52px;
    font-weight: normal;
    padding-left: 90px;
    padding-top: 7%;
}

.open-type-btn {
    display: block;
    background-color: #4452FE;
    color: #FFFFFF;
    border: none;
    padding: 15px 40px;
    margin-left: 17%;
}

.open-type-img {
    padding-left: 22.5%;
    padding-top: 2%;
}

.open-type-style {
    display: flex;
    background-color:  #343434;
    border: none;
    border-radius: 33px;
    margin-top: 10%;
    margin-left: 15%;
    width: 64.9%;
    height: 370px;
    overflow-y: hidden;
}

.footer-style {
    display: flex;
    margin-top: 11%;
    margin-left: 18%;
}

.footer-style li {
    list-style-type: none;
    font-size: 16px;
    line-height: 3;
}

.footer-list-2 {
    margin-left: 100px;
}

.footer-list-3 {
    margin-left: 100px;
}

#list-1 {
    font-size: 20px;
}

.contact-style {
    padding-left: 300px;
    padding-bottom: 200px;
    padding-top: 20px;
}

.contact-details-1, .contact-details-2 {
    display: flex;
}

.contact-details-2 {
    margin-top: 10px;
}

.facebook-logo {
    margin-left: 30px;
}

.footer-logos {
    margin-top: 30px;
}

.linkedin-logo {
    margin-left: 30px;
}